<div login-state controller="app.components.states.LoginState">
    <style component="css-helpers"></style>
    <style>
        [login-state-container] {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            height: 256px;
            margin-top: -153px;
        }

        [login-state-header] {
            position: absolute;
            top: 0;
            text-align: center;
            height: 35px;
            width: 100%;
            line-height: 35px;
            font-size: 24px;
            color: #616161;
        }

        [login-state-form-login-container] {
            position: absolute;
            top: 55px;
            left: 0;
            right: 0;
            height: 105px;
        }

        [login-state-username-input] {
            position: absolute;
            padding: 8px 14px;
            top: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            height: 45px;
            width: 260px;
            border: 1px solid #eee;
            border-radius: 2px;
        }

        [login-state-password-input] {
            position: absolute;
            padding: 8px 14px;
            top: 60px;
            right: 0;
            left: 0;
            margin: 0 auto;
            height: 45px;
            width: 260px;
            border: 1px solid #eee;
            border-radius: 2px;
        }

        [login-state-login-btn] {
            position: absolute;
            top: 180px;
            right: 0;
            left: 0;
            margin: 0 auto;
            height: 45px;
            line-height: 45px;
            width: 275px;
            background-color: #3b5998;
            color: #fff;
            text-align: center;
            border-radius: 2px;
        }

        [login-state-create-account-btn] {
            position: absolute;
            top: 240px;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 275px;
            height: 20px;
            line-height: 20px;
            color: #616161;
            text-align: center;
            font-size: 12px;
        }

        [login-state-create-account-btn-span] {
            font-weight: 500;
            color: #2196F3;
        }

        input {
            border: none;
            outline: none;
            color: #616161;
        }

        input:focus {
            outline: none;
        }
    </style>
    <div login-state-container>
        <div login-state-header>Sign In</div>
        <div login-state-form-login-container>
            <input login-state-username-input tag="username-input" placeholder="Username or Email" />
            <input login-state-password-input tag="password-input" placeholder="Password" type="password" />
        </div>
        <div login-state-login-btn tag="login-btn">Sign In</div>
        <div login-state-create-account-btn tag="create-account-btn">Not a member? <span login-state-create-account-btn-span>Create New Account</span></div>
    </div>
</div>
